# -*- python -*-
# ex: set syntax=python:

from configs.slaves import slaves, slavePortnum
from configs.builders import builders
from configs.schedulers import schedulers
from configs.sources import sources
from configs.status import status

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.

c = BuildmasterConfig = {
  'db_url': "sqlite:///state.sqlite",
  'slaves': slaves,
  'slavePortnum': slavePortnum,
  'change_source': sources,
  'builders': builders,
  'schedulers': schedulers,
  'status': status
}

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot
# installation's html.WebStatus home page (linked to the
# 'titleURL') and is embedded in the title of the waterfall HTML page.

#c['title'] = "Godin"
#c['titleURL'] = "http://godin.net.ru/"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server (usually the html.WebStatus page) is visible. This
# typically uses the port number set in the Waterfall 'status' entry, but
# with an externally-visible host name which the buildbot cannot figure out
# without some help.

c['buildbotURL'] = "http://buildbot.godin.net.ru/"
